// Mixin for media queries (Mobile-First)
@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: 375px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

@mixin flex($direction: row, $align: center, $justify: center, $gap: 10px) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}
