@use '../variables' as *;
@use '../mixins' as *;
@use '../typography' as *;

.button__primary {
  background-color: $orange500;
  color: $neutral900;
  padding: $space-4 0;
  border-radius: $radius-12;
  line-height: 20px;
  letter-spacing: -0.3px;
  text-align: center;
  font-weight: 800;
  min-width: 275px;

  &:hover {
    background-color: $orange700;
  }
  &:focus {
    background-color: $orange500;
    border: 2px solid $neutral0;
    box-shadow:
      0px 0px 0px 4px var($neutral0),
      0px 0px 0px 3px var($neutral900);
  }
}
